html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 150%;
	color: #262626;
 }
html{
	font-size: 10px;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	padding: 0;
	cursor: pointer;
}
.container{
	max-width: 135rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.btn{
	padding: .5rem;
	padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;

	border: 1px solid rgb(38, 38, 38);
    border-radius: 150px;
	font-family: 'Manrope';
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}
.title{
	font-size: 5rem;
    font-weight: 700;
    line-height: 6.8rem;
}
.subtitle{
	font-size: 3rem;
    font-weight: 700;
    line-height: 4.1rem;
}
