//TARGET
.target {
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.target__title {
    max-width: 72rem;
    margin-bottom: 5rem;
}
.target-block {
    display: flex;
    justify-content: space-between;
}
.target-block__right {
    display: flex;
    gap: 2rem;
}
.target-block__one {
    margin-top: 15rem;
}
.target-block__one-item {
    margin-bottom: 2rem;
    
}
.target-block__one-text {
    width: 37rem;
    transform: translate(38px, 35px);
}
.target-block__two-item:nth-child(1) .target-block__two-text{
    transform: translate(-10px, -40px);
}
.target-block__two-item:nth-child(2){
    display: flex;
}
.target-block__two-item:nth-child(3) .target-block__two-text{
    width: 29rem;
    transform: translate(40px, 30px);
}



//SUCH
.such{
    position: relative;
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #F2F2F2; 
}
// .such::before{
//     position: absolute;
//     content: '';
//     width: 74rem;
//     height: 74rem;
//     background: url('../images/such-bg-left.png') no-repeat;
//     left: 0;
//     bottom: 0;  
// }
// .such::after{
//     position: absolute;
//     content: '';
//     width: 74rem;
//     height: 74rem;
//     background: url('../images/such-bg-right.png') no-repeat;
//     right: 0;
//     top: 0;  
// }

.such__title {
    margin-bottom: 5rem;
}
.such-block {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.such-block__content {
    max-width: 60rem;
}
.such-block__content-text {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid rgb(38, 38, 38);
}
.such-block__content-text:first-child{
    border-top: 1px solid rgb(38, 38, 38);
}
.such-block__photo {
    display: flex;
    flex-direction: column;
}
.such-block__top,
.such-block__bottom{
    display: flex;
}
.such-block__photo-img--two{
    transform: translateX(-10rem);
}
.such-block__photo-img--three{
    transform: translateY(-18rem);
}
.such-block__photo-img--four{
    transform: translateX(-6rem);
}

//PROGRAM
.program {
    padding-top: 12rem;
    padding-bottom: 10rem;
}
.program__title {
    margin-bottom: 5rem;
}
.program-block {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}
.program-block__content {
    max-width: 70rem;
}
.program-block__content-title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.1rem;
}
.program-block__content-text {
    margin-bottom: 2rem;
}
.program-block__content-subtitle {
    margin-bottom: 2rem;
    font-weight: 800;
}




//PLAY

.play__inner{
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    position: relative;
}
.play__video{
    width: 100%;
}
.heading-block--btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



//WELL
.well{
    background: url('../images/such-bg-left.png') no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.well__title {
    margin-bottom: 4rem;
}
.well-block {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.well-block__item {
    padding: 3rem;
    width: calc(100% / 2 - 2rem);
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgb(234, 234, 234);
    background: rgb(255, 255, 255);
}
.well-block__item-img {
    margin-bottom: 1rem;
}
.well-block__item-title {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.1rem;
}



//
.mentor {
    padding-bottom: 10rem;
    background: url('../images/such-bg-left.png') no-repeat;
}
.mentor__title {
    max-width: 70rem;
    margin-bottom: 8rem;
}
.mentor-box {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.mentor-box__content {
    max-width: 85rem;
}
.mentor-box__content-title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.1rem;
}
.mentor-box__content-text {
    color: rgb(108, 118, 116);
}


//EDUCATION
.education {
    padding-bottom: 5rem;
    background: url('../images/such-bg-left.png') no-repeat;
}
.education-box {
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    margin-top:  2.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-top: 1px solid rgb(38, 38, 38);
    border-bottom: 1px solid rgb(38, 38, 38);
}
.education-box:first-child{
    border-top: none;
}
.education-box:last-child{
    border-bottom: none;
}
.education__title {
    max-width: 50rem;
}
.education-box__text {
    max-width: 75rem;
}
.education-box__text p{
    margin-bottom: 2rem;
    color: rgb(108, 118, 116);
}
.education-box__title {
    max-width: 50rem;
}




//CARD 
.card {
    padding-bottom: 11rem;
    background: url('../images/such-bg-left.png') no-repeat;
}
.card__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.card__wrapper{
    width: calc(100% / 2 - 2rem);
}
.card__wrapper:last-child{
    margin-top: -27rem;
}
.card-box {
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgb(234, 234, 234);
    background: rgb(255, 255, 255);
}
.card-box__top {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.card-box__top-title span{
    font-size: 1.5rem;
    color: rgb(38, 38, 38);
}
.card-box__top-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
}
.card-box__list-item {
    margin-bottom: 1rem;
    color: rgb(108, 118, 116);
   list-style: disc;
}

.card-box__price {
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.card-box__price-text {
    color: rgb(108, 118, 116);
}
.card-box__price-new {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4.1rem;
}
.card-box__price-old {
    color: rgb(108, 118, 116);
    text-decoration: line-through;
}
.card__item {
    max-width: 60rem;
    margin-top: -19rem;
    margin-left: auto;
}
.card__item-title {
    margin-bottom: 2.5rem;
    color: rgb(255, 0, 0);
}



//SLIDER
.reviews__title{
    margin-bottom: 5rem;
}
.slider {
    padding-top: 12rem;
    padding-bottom: 12rem;
    background: rgb(108, 118, 116);
}
.slider-top{
    margin-bottom: 8rem;
}
.slider-top__item {
    padding: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 90rem;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}
.slider-top__content {
    margin-bottom: 3rem;
    display: flex;
    gap: 3rem;
}
.slider-top__info-title {
    margin-bottom: .5rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.1rem;
}
.slider-top__info-text {
    color: rgb(108, 118, 116);
}
.slider-top__item-text span{
    font-weight: 700;
    color: #262626;
}
.slider-top__item-text {
    margin-bottom: 2rem;
    color: rgb(108, 118, 116);
}
.slider-bottom__item{
    position: relative;
    width: 33rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.slider-play__video{
    width: 33rem;
}
.slider-bottom__inner{
    display: flex;
}
.block-hidden{
    display: none;
}
.slider__btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//



//SMALL
.small{
    padding-top: 10rem;
    padding-bottom: 11rem;
    background-color: #F2F2F2; 
}

.small-box {
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.small-box__content {
    max-width: 70rem;
}
.small-box__content-title {
    margin-bottom: 2rem;
}
.small-box__info {
    max-width: 55rem;
}
.small-box__info-text {
    margin-bottom: 2.5rem;
    color: rgb(38, 38, 38);
}
.small-box__info-btn {
    background-color:  rgb(38, 38, 38);
    color: #fff;
}

.small-block {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}








//QUESTION
.questions {
    padding-top: 10rem;
    background-color: #F2F2F2;   
}
.questions-box {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions-box__text {
    max-width: 73rem;
}
.questions__wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(38, 38, 38);
}
.questions__wrapper:first-child{
    border-top: 1px solid #262626;
}
.questions-accardion__btn {
    display: flex;
    justify-content: space-between;
}
.questions-accardion__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.1rem;
}
.questions-accardion__content {
    padding-top: 1rem;
    display: none;
}


//CONSULTATION
.consultation {
    background-color: #F2F2F2;
    padding-top: 10rem;
    padding-bottom: 12rem;
}
.consultation-block {
    display: flex;
    gap: 7rem;
}
.consultation-block__content {
    max-width: 50rem;
}
.consultation-block__content-title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.8rem;
}
.consultation-block__form {
    max-width: 59rem;
    padding: 4.5rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgb(234, 234, 234);
    background: rgb(255, 255, 255);
}
.consultation-block__form-text {
    margin-left: 1rem;
    color: rgb(108, 118, 116);
}
.consultation-block__form-input {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 100px;
    background: rgb(255, 255, 255);
    color: rgb(108, 118, 116);
    }
.consultation-block__form-input::placeholder{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
    color: rgb(108, 118, 116);
}
.consultation-block__form-btn {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    border: 1px solid #262626;
    border-radius: 150px;
    font-family: 'Manrope';
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    height: 5rem;
    color: #fff;
    line-height: 5rem;
    margin-bottom: 2.5rem;
    background: rgb(38, 38, 38)
}
.consultation-block__label{
    display: flex;
}
.consultation-block__check{
    margin-left: 4rem;
}
.consultation-block__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}
.consultation-block__form-checked{
    width: 25px;
    height: 25px;
    position: absolute;
    border: 2px solid #000;
    transform: translateX(-3rem);
}
.consultation-block__input:checked +.consultation-block__form-checked{
    background: url('../images/arrows-form.png') no-repeat;
    background-position: center;
}


//MODAL
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.modal__inner {
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.modal-form {
    padding: 50px;
    width: 500px;
   background: rgb(108, 118, 116);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-form__input {
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: none;
}
.modal-form__btn{
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.modal__close{
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #fff;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal{
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.overflow{
    overflow: hidden;
}


